h1 {
    font-family: 'Orbitron', monospace;
    font-weight: 900;
    font-size: 3rem;
    margin: 0 0 1rem 0;
    color: #ff0000;
    letter-spacing: 4px;
}

.dashboard {
    min-height: 100vh;
}

.dashboard-content {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tab-navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    background: rgba(100, 100, 100, 0.05);
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.tab-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.tab-btn:hover {
    background: rgba(224, 224, 224, 0.616);
    color: rgb(132, 123, 123);
}

.tab-btn.active {
    background: linear-gradient(45deg, #ff0000, #cb4d3f);
    color: white;
}

.tab-label {
    font-weight: 600;
}

.tab-container {
    background: rgba(244, 244, 244, 0.342);
    border-radius: 20px;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.tab-content h2 {
    font-family: 'Orbitron', monospace;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
}
  
.tab-content p {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 2rem 0;
    line-height: 1.6;
}

.logout-btn {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 14px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 8px;
}

.profile-container {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    max-width: 800px;
    margin: 0 auto;
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #d32f2f;
    background-color: #f0f0f0;
    display: flex;
    justify-content: left;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-name {
    font-family: 'Orbitron', monospace;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.user-created {
    font-size: 1.1rem;
    color: #666;
    margin: 0;
    font-weight: 500;
}

.user-lms {
    font-size: 1rem;
    color: #888;
    margin: 0;
    font-style: italic;
}